
  <mat-grid-list cols="4" cdkDropList #tile="cdkDropList" [cdkDropListData]="tiles" (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="[emptyTile]" rowHeight="100px">
    <mat-grid-tile cdkDrag *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>

  </mat-grid-list>

<div class='clearfix'></div>
<div class="drop-section">
  <h3>Drop here</h3>
  <mat-grid-list [cols]="4" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="emptyTiles"
    #emptyTile="cdkDropList" [cdkDropListConnectedTo]="[tile]" rowHeight="100px">
    <mat-grid-tile cdkDrag *ngFor="let tile of emptyTiles" [colspan]="tile.cols" [rowspan]="tile.rows"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
</div>